[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus \
  --config.file=/app/prometheus2.51.2/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus \
  --web.console.templates={{ app_root_dir }}/consoles \
  --web.console.libraries={{ app_root_dir }}/console_libraries \
  --web.listen-address=0.0.0.0:9090 \
  --web.config.file={{ app_root_dir }}/web.yml \

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target